# WeatherPy

## Imports

In [1]:
import numpy as np
import pandas as pd
import json 
import requests
import matplotlib.pyplot as plt
from citipy import citipy
from scipy import stats
from numpy.random import seed
from api_keys import weather_api_key
from api_keys import g_key

## Generate Cities List

In [2]:
#First want to create my list of 500 lat/lng pairs
# it says AT LEAST 500 so how many?????
# assuming best way is to obtain from a dataframe like we did in examples
# Lat and Long: in decimal degrees format and range from -90 to 90 for latitude and -180 to 180 for longitude.
# so for randomness will need to go through whole range of lats and whole range of longs
# also need to make sure they are unique pairs.
# could I make massive list and remove duplicates?? or is there a unique random function

# don't want integers for lat/long b/c need decimals
# numpy.random.uniform(low=0.0, high=1.0, size=None) seems best
# everything else only goes b/w 0 and 1 for numpy.random and other random features
# also seems you could use  import random   random.uniform(a, b)
# round(random.uniform(1,2), N) to ensure decimals

# also, how many decimal places do lat/long need. I saw somehting that said 15
# I wonder if there is a requirement for the google thingo and if I can round




# this sets it so that everytime I run seed(1) and then the random thingo it will give the same random numbers
# just to help me get a handle on what's happening
# works for both
# setting seed(1) so that although the numbers are random they staty the same each time I run my code.
seed(1)


# obtaining random samples from uniform distribution, so that each value is equally likely
# values are between the bounds for latitude and longitude, and will contain decimals

lat_number = np.random.uniform(-90, 90, 1300)

long_number = np.random.uniform(-180, 180, 1300)

#print(lat_number)
#print(long_number)

In [3]:
# make my data frame out of these lists

number_df = pd.DataFrame({"Latitude":lat_number, "Longitude": long_number})
number_df.head()

    Latitude   Longitude
0 -14.936039   13.322562
1  39.658409  -48.245995
2 -89.979413   37.550464
3 -35.580137  165.168906
4 -63.583940  -38.583740

In [4]:
#Now to use citipy
# will need to loop through the lats and longs find a city for each, and then put these cities into a list

# setting enmpty city and country lists
cities = []

country = []

# itterating through each row using the index
for x in number_df.index:
    lat = number_df['Latitude'][x]
    long = number_df['Longitude'][x]
    city = citipy.nearest_city(lat, long)
    city_name = city.city_name
    country_code = city.country_code
    
    cities.append(city_name)
    country.append(country_code)
    
# do I then just add them to my dataframe??

number_df["City"] = cities
number_df["Country"] = country
number_df

#>>> city = citipy.nearest_city(22.99, 120.21)
#>>> city
#<citipy.City instance at 0x1069b6518>
#>>>
#>>> city.city_name     # Tainan, my home town
#'tainan'
#>>>
#>>> city.country_code
#'tw'                  # And the country is surely Taiwan


#Randomly select at least 500 unique (non-repeat) cities based on latitude and longitude.
#The city data you generate is based on random coordinates as well as different query times; as such, 
#your outputs will not be an exact match to the provided starter notebook.

# what is a query time?
# i think it is time taken for requested info to return
# so I don't think it is something I need to worry about

       Latitude   Longitude            City Country
0    -14.936039   13.322562         lubango      ao
1     39.658409  -48.245995          torbay      ca
2    -89.979413   37.550464  port elizabeth      za
3    -35.580137  165.168906         ahipara      nz
4    -63.583940  -38.583740         ushuaia      ar
...         ...         ...             ...     ...
1295  56.959632    1.215939          boddam      gb
1296  -2.929149    9.777663           gamba      ga
1297  16.191234  -76.291348      morant bay      jm
1298  51.707421    4.319723     steenbergen      nl
1299 -71.957764 -179.293088           vaini      to

[1300 rows x 4 columns]

In [5]:
# Checking for duplicate cities

duplicate_rows = number_df[number_df.duplicated(subset = ['City'])]
duplicate_rows
print(f"There are {len(number_df['City'])} duplicated rows that need to be removed from the DataFrame.")

There are 1300 duplicated rows that need to be removed from the DataFrame.

In [6]:
# dropping dupicate cities, keeping the first occuurance of each city (default)

number_df = number_df.drop_duplicates(subset=['City'])

# resetting the index and dropping the old index
number_df = number_df.reset_index(drop=True)
number_df

      Latitude   Longitude            City Country
0   -14.936039   13.322562         lubango      ao
1    39.658409  -48.245995          torbay      ca
2   -89.979413   37.550464  port elizabeth      za
3   -35.580137  165.168906         ahipara      nz
4   -63.583940  -38.583740         ushuaia      ar
..         ...         ...             ...     ...
567  50.440424 -110.868744    medicine hat      ca
568   8.361826  124.960650          maluko      ph
569  56.959632    1.215939          boddam      gb
570  16.191234  -76.291348      morant bay      jm
571  51.707421    4.319723     steenbergen      nl

[572 rows x 4 columns]

In [7]:
# Creating new columns in the dataframe for the weather API information

cities_df = number_df.copy()

cities_df['Max Temperature (F)'] = ""
cities_df['Humidity'] = ""
cities_df['Cloudiness'] = ""
cities_df['Wind Speed (mph)'] = ""
cities_df['Date'] = ""

cities_df.head()

,Latitude,Longitude,City,Country,Max Temperature (F),Humidity,Cloudiness,Wind Speed (mph),Date
0,-14.936039,13.322562,lubango,ao,,,,,
1,39.658409,-48.245995,torbay,ca,,,,,
2,-89.979413,37.550464,port elizabeth,za,,,,,
3,-35.580137,165.168906,ahipara,nz,,,,,
4,-63.583940,-38.583740,ushuaia,ar,,,,,

In [8]:
# TEST
#doing json thing to see what it is like
#url = "http://api.openweathermap.org/data/2.5/weather?"
#units = "metric"

#above is base url

# Build partial query URL
#query_url = f"{url}appid={weather_api_key}&units={units}&q="
#city = 'melbourne'

#response = requests.get(query_url + city).json()

#print(json.dumps(response, indent = 4, sort_keys = True))

#print (response["dt"])

In [9]:
# setting up loop

# how do I do this in sets
# example seems to go in sets of 50 

# base url
url = "http://api.openweathermap.org/data/2.5/weather?"

# setting units to imperial for Fahrenheit
units = "imperial"


# Build partial query URL
query_url = f"{url}appid={weather_api_key}&units={units}&q="


 # assemble url and make API request
print("Beginning Data Retrieval")
print("-------------------------")

# use iterrows to iterate through pandas dataframe
for index, row in cities_df.iterrows():

    # get city from df
    city = row['City']
    
    # getting country from df
    country = row['Country']

    response = requests.get(query_url + city + "," + country).json()

    # adding to data frame using try and except incase no data
    
    try:
        print(f"Retrieving Results for Index {index}: {city}, {country}.")
        
        cities_df.loc[index, 'Max Temperature (F)'] = response["main"]["temp_max"]
        cities_df.loc[index, 'Humidity'] = response["main"]["humidity"]
        cities_df.loc[index, 'Cloudiness'] = response["clouds"]["all"]
        cities_df.loc[index, 'Wind Speed (mph)'] = response["wind"]["speed"]
        cities_df.loc[index, 'Date'] = response["dt"]
          
    except (KeyError, IndexError):
        print("City not found... skipping.")
        
    print("------------")

Beginning Data Retrieval
-------------------------
Retrieving Results for Index 0: lubango, ao.
------------
Retrieving Results for Index 1: torbay, ca.
------------
Retrieving Results for Index 2: port elizabeth, za.
------------
Retrieving Results for Index 3: ahipara, nz.
------------
Retrieving Results for Index 4: ushuaia, ar.
------------
Retrieving Results for Index 5: busselton, au.
------------
Retrieving Results for Index 6: taolanaro, mg.
City not found... skipping.
------------
Retrieving Results for Index 7: caravelas, br.
------------
Retrieving Results for Index 8: kulhudhuffushi, mv.
------------
Retrieving Results for Index 9: conde, br.
------------
Retrieving Results for Index 10: half moon bay, us.
------------
Retrieving Results for Index 11: arraial do cabo, br.
------------
Retrieving Results for Index 12: upernavik, gl.
------------
Retrieving Results for Index 13: punta arenas, cl.
------------
Retrieving Results for Index 14: hasaki, jp.
------------
Retrieving Results for Index 15: quatre cocos, mu.
------------
Retrieving Results for Index 16: mendi, et.
------------
Retrieving Results for Index 17: hermanus, za.
------------
Retrieving Results for Index 18: poltavka, ru.
------------
Retrieving Results for Index 19: chokurdakh, ru.
------------
Retrieving Results for Index 20: flinders, au.
------------
Retrieving Results for Index 21: santa barbara, us.
------------
Retrieving Results for Index 22: attawapiskat, ca.
City not found... skipping.
------------
Retrieving Results for Index 23: barrow, us.
------------
Retrieving Results for Index 24: bluff, nz.
------------
Retrieving Results for Index 25: college, us.
------------
Retrieving Results for Index 26: jamestown, sh.
------------
Retrieving Results for Index 27: tuktoyaktuk, ca.
------------
Retrieving Results for Index 28: acarau, br.
------------
Retrieving Results for Index 29: dingli, mt.
------------
Retrieving Results for Index 30: mercedes, uy.
------------
Retrieving Results for Index 31: tukrah, ly.
------------
Retrieving Results for Index 32: arvika, se.
------------
Retrieving Results for Index 33: zhanatas, kz.
City not found... skipping.
------------
Retrieving Results for Index 34: amderma, ru.
City not found... skipping.
------------
Retrieving Results for Index 35: zhanakorgan, kz.
------------
Retrieving Results for Index 36: bredasdorp, za.
------------
Retrieving Results for Index 37: bonavista, ca.
------------
Retrieving Results for Index 38: port alfred, za.
------------
Retrieving Results for Index 39: gizo, sb.
------------
Retrieving Results for Index 40: skalistyy, ru.
City not found... skipping.
------------
Retrieving Results for Index 41: dargaville, nz.
------------
Retrieving Results for Index 42: mataura, pf.
City not found... skipping.
------------
Retrieving Results for Index 43: along, in.
------------
Retrieving Results for Index 44: cape town, za.
------------
Retrieving Results for Index 45: vaini, to.
------------
Retrieving Results for Index 46: colimes, ec.
------------
Retrieving Results for Index 47: dawei, mm.
------------
Retrieving Results for Index 48: faya, td.
City not found... skipping.
------------
Retrieving Results for Index 49: tongchuan, cn.
------------
Retrieving Results for Index 50: east london, za.
------------
Retrieving Results for Index 51: samarai, pg.
------------
Retrieving Results for Index 52: kapaa, us.
------------
Retrieving Results for Index 53: pisco, pe.
------------
Retrieving Results for Index 54: hobart, au.
------------
Retrieving Results for Index 55: sabang, id.
------------
Retrieving Results for Index 56: wadi musa, jo.
------------
Retrieving Results for Index 57: ligayan, ph.
------------
Retrieving Results for Index 58: nizhneyansk, ru.
City not found... skipping.
------------
Retrieving Results for Index 59: butaritari, ki.
------------
Retrieving Results for Index 60: leningradskiy, ru.
------------
Retrieving Results for Index 61: rikitea, pf.
------------
Retrieving Results for Index 62: kodiak, us.
------------
Retrieving Results for Index 63: neiafu, to.
------------
Retrieving Results for Index 64: esperance, au.
------------
Retrieving Results for Index 65: shieli, kz.
------------
Retrieving Results for Index 66: avila, es.
------------
Retrieving Results for Index 67: kangaatsiaq, gl.
------------
Retrieving Results for Index 68: codrington, ag.
City not found... skipping.
------------
Retrieving Results for Index 69: suamico, us.
------------
Retrieving Results for Index 70: roma, au.
------------
Retrieving Results for Index 71: mahebourg, mu.
------------
Retrieving Results for Index 72: lavrentiya, ru.
------------
Retrieving Results for Index 73: georgetown, sh.
------------
Retrieving Results for Index 74: qaanaaq, gl.
------------
Retrieving Results for Index 75: naze, jp.
------------
Retrieving Results for Index 76: narsaq, gl.
------------
Retrieving Results for Index 77: banjar, id.
------------
Retrieving Results for Index 78: chateaubelair, vc.
------------
Retrieving Results for Index 79: desaguadero, pe.
------------
Retrieving Results for Index 80: pevek, ru.
------------
Retrieving Results for Index 81: matameye, ne.
City not found... skipping.
------------
Retrieving Results for Index 82: luderitz, na.
------------
Retrieving Results for Index 83: salinopolis, br.
------------
Retrieving Results for Index 84: novyy urengoy, ru.
------------
Retrieving Results for Index 85: tumannyy, ru.
City not found... skipping.
------------
Retrieving Results for Index 86: albany, au.
------------
Retrieving Results for Index 87: kahului, us.
------------
Retrieving Results for Index 88: yellowknife, ca.
------------
Retrieving Results for Index 89: mar del plata, ar.
------------
Retrieving Results for Index 90: khatanga, ru.
------------
Retrieving Results for Index 91: sentyabrskiy, ru.
City not found... skipping.
------------
Retrieving Results for Index 92: yilan, cn.
------------
Retrieving Results for Index 93: petropavlovsk-kamchatskiy, ru.
------------
Retrieving Results for Index 94: coihaique, cl.
------------
Retrieving Results for Index 95: nuuk, gl.
------------
Retrieving Results for Index 96: odienne, ci.
------------
Retrieving Results for Index 97: hilo, us.
------------
Retrieving Results for Index 98: talnakh, ru.
------------
Retrieving Results for Index 99: sulangan, ph.
------------
Retrieving Results for Index 100: new norfolk, au.
------------
Retrieving Results for Index 101: mnogovershinnyy, ru.
------------
Retrieving Results for Index 102: rocha, uy.
------------
Retrieving Results for Index 103: vestmannaeyjar, is.
------------
Retrieving Results for Index 104: tautira, pf.
------------
Retrieving Results for Index 105: thompson, ca.
------------
Retrieving Results for Index 106: nikolskoye, ru.
------------
Retrieving Results for Index 107: ailigandi, pa.
------------
Retrieving Results for Index 108: tsihombe, mg.
City not found... skipping.
------------
Retrieving Results for Index 109: pueblo, us.
------------
Retrieving Results for Index 110: oistins, bb.
------------
Retrieving Results for Index 111: cabo san lucas, mx.
------------
Retrieving Results for Index 112: castro, cl.
------------
Retrieving Results for Index 113: souillac, mu.
------------
Retrieving Results for Index 114: kubrat, bg.
------------
Retrieving Results for Index 115: genova, gt.
------------
Retrieving Results for Index 116: belushya guba, ru.
City not found... skipping.
------------
Retrieving Results for Index 117: nome, us.
------------
Retrieving Results for Index 118: sorong, id.
------------
Retrieving Results for Index 119: provideniya, ru.
------------
Retrieving Results for Index 120: vaitupu, wf.
City not found... skipping.
------------
Retrieving Results for Index 121: araouane, ml.
------------
Retrieving Results for Index 122: makakilo city, us.
------------
Retrieving Results for Index 123: talcahuano, cl.
------------
Retrieving Results for Index 124: manaure, co.
------------
Retrieving Results for Index 125: marcona, pe.
City not found... skipping.
------------
Retrieving Results for Index 126: malakal, sd.
City not found... skipping.
------------

Retrieving Results for Index 127: kamir, pk.
------------
Retrieving Results for Index 128: saldanha, za.
------------
Retrieving Results for Index 129: cianorte, br.
------------
Retrieving Results for Index 130: rock sound, bs.
------------
Retrieving Results for Index 131: severo-kurilsk, ru.
------------
Retrieving Results for Index 132: te anau, nz.
------------
Retrieving Results for Index 133: athabasca, ca.
------------
Retrieving Results for Index 134: tuatapere, nz.
------------
Retrieving Results for Index 135: litoral del san juan, co.
City not found... skipping.
------------
Retrieving Results for Index 136: vila franca do campo, pt.
------------
Retrieving Results for Index 137: cardston, ca.
------------
Retrieving Results for Index 138: cherskiy, ru.
------------
Retrieving Results for Index 139: klaksvik, fo.
------------
Retrieving Results for Index 140: taoudenni, ml.
------------
Retrieving Results for Index 141: bosaso, so.
------------
Retrieving Results for Index 142: los llanos de aridane, es.
------------
Retrieving Results for Index 143: avarua, ck.
------------
Retrieving Results for Index 144: axim, gh.
------------
Retrieving Results for Index 145: atar, mr.
------------
Retrieving Results for Index 146: phan rang, vn.
City not found... skipping.
------------
Retrieving Results for Index 147: tasiilaq, gl.
------------
Retrieving Results for Index 148: hualmay, pe.
------------
Retrieving Results for Index 149: kaitangata, nz.
------------
Retrieving Results for Index 150: puerto ayora, ec.
------------
Retrieving Results for Index 151: tigil, ru.
------------
Retrieving Results for Index 152: byron bay, au.
------------
Retrieving Results for Index 153: grindavik, is.
------------
Retrieving Results for Index 154: constitucion, mx.
------------
Retrieving Results for Index 155: mys shmidta, ru.
City not found... skipping.
------------
Retrieving Results for Index 156: victoria, sc.
------------
Retrieving Results for Index 157: moissala, td.
------------
Retrieving Results for Index 158: havre-saint-pierre, ca.
------------
Retrieving Results for Index 159: atuona, pf.
------------
Retrieving Results for Index 160: emiliano zapata, mx.
------------
Retrieving Results for Index 161: tomatlan, mx.
------------
Retrieving Results for Index 162: fare, pf.
------------
Retrieving Results for Index 163: chumikan, ru.
------------
Retrieving Results for Index 164: sovetskiy, ru.
------------
Retrieving Results for Index 165: grojec, pl.
------------
Retrieving Results for Index 166: katsuura, jp.
------------
Retrieving Results for Index 167: nova olimpia, br.
------------
Retrieving Results for Index 168: saskylakh, ru.
------------
Retrieving Results for Index 169: tiksi, ru.
------------
Retrieving Results for Index 170: bambous virieux, mu.
------------
Retrieving Results for Index 171: airai, pw.
City not found... skipping.
------------
Retrieving Results for Index 172: hofn, is.
------------
Retrieving Results for Index 173: abeche, td.
------------
Retrieving Results for Index 174: tessalit, ml.
------------
Retrieving Results for Index 175: veraval, in.
------------
Retrieving Results for Index 176: giaveno, it.
------------
Retrieving Results for Index 177: nyurba, ru.
------------
Retrieving Results for Index 178: gueret, fr.
------------
Retrieving Results for Index 179: qufu, cn.
------------
Retrieving Results for Index 180: iqaluit, ca.
------------
Retrieving Results for Index 181: padang, id.
------------
Retrieving Results for Index 182: kariba, zw.
------------
Retrieving Results for Index 183: poum, nc.
------------
Retrieving Results for Index 184: fomboni, km.
------------
Retrieving Results for Index 185: cap malheureux, mu.
------------
Retrieving Results for Index 186: kamenka, ru.
------------
Retrieving Results for Index 187: chuy, uy.
------------
Retrieving Results for Index 188: saint-philippe, re.
------------
Retrieving Results for Index 189: vanimo, pg.
------------
Retrieving Results for Index 190: ust-kamchatsk, ru.
City not found... skipping.
------------
Retrieving Results for Index 191: kuche, cn.
City not found... skipping.
------------
Retrieving Results for Index 192: caucaia, br.
------------
Retrieving Results for Index 193: altay, cn.
------------
Retrieving Results for Index 194: puerto colombia, co.
------------
Retrieving Results for Index 195: carauari, br.
------------
Retrieving Results for Index 196: inhambane, mz.
------------
Retrieving Results for Index 197: alice springs, au.
------------
Retrieving Results for Index 198: egvekinot, ru.
------------
Retrieving Results for Index 199: vestmanna, fo.
------------
Retrieving Results for Index 200: tabas, ir.
------------
Retrieving Results for Index 201: bagahanglad, ph.
City not found... skipping.
------------
Retrieving Results for Index 202: ambon, id.
------------
Retrieving Results for Index 203: santo amaro da imperatriz, br.
------------
Retrieving Results for Index 204: komsomolskiy, ru.
------------
Retrieving Results for Index 205: ostrovnoy, ru.
------------
Retrieving Results for Index 206: saleaula, ws.
City not found... skipping.
------------
Retrieving Results for Index 207: nantucket, us.
------------
Retrieving Results for Index 208: sosnogorsk, ru.
------------
Retrieving Results for Index 209: broome, au.
------------
Retrieving Results for Index 210: kruisfontein, za.
------------
Retrieving Results for Index 211: itarema, br.
------------
Retrieving Results for Index 212: lata, sb.
City not found... skipping.
------------
Retrieving Results for Index 213: shimoda, jp.
------------
Retrieving Results for Index 214: calabozo, ve.
------------
Retrieving Results for Index 215: waddan, ly.
------------
Retrieving Results for Index 216: willmar, us.
------------
Retrieving Results for Index 217: cotonou, bj.
------------
Retrieving Results for Index 218: tankhoy, ru.
------------
Retrieving Results for Index 219: khonuu, ru.
City not found... skipping.
------------
Retrieving Results for Index 220: sorvag, fo.
City not found... skipping.
------------
Retrieving Results for Index 221: kiruna, se.
------------
Retrieving Results for Index 222: la ronge, ca.
------------
Retrieving Results for Index 223: sangar, ru.
------------
Retrieving Results for Index 224: tateyama, jp.
------------
Retrieving Results for Index 225: saint george, bm.
------------
Retrieving Results for Index 226: arlit, ne.
------------
Retrieving Results for Index 227: novomikhaylovskiy, ru.
------------
Retrieving Results for Index 228: grafton, us.
------------
Retrieving Results for Index 229: praia da vitoria, pt.
------------
Retrieving Results for Index 230: avera, pf.
City not found... skipping.
------------
Retrieving Results for Index 231: kachiry, kz.
------------
Retrieving Results for Index 232: aripuana, br.
------------
Retrieving Results for Index 233: kamenskiy, ru.
------------
Retrieving Results for Index 234: clyde river, ca.
------------
Retrieving Results for Index 235: lorengau, pg.
------------
Retrieving Results for Index 236: mecca, sa.
------------
Retrieving Results for Index 237: kavieng, pg.
------------
Retrieving Results for Index 238: banda aceh, id.
------------
Retrieving Results for Index 239: bengkulu, id.
------------
Retrieving Results for Index 240: lasa, cn.
City not found... skipping.
------------
Retrieving Results for Index 241: bethel, us.
------------
Retrieving Results for Index 242: buariki, ki.
City not found... skipping.
------------
Retrieving Results for Index 243: cabo rojo, us.
City not found... skipping.
------------
Retrieving Results for Index 244: yerbogachen, ru.
------------
Retrieving Results for Index 245: carnarvon, au.
------------
Retrieving Results for Index 246: chaihe, cn.
------------
Retrieving Results for Index 247: robertsport, lr.
------------
Retrieving Results for Index 248: sobolevo, ru.
------------
Retrieving Results for Index 249: samalaeulu, ws.
City not found... skipping.
------------
Retrieving Results for Index 250: dikson, ru.
------------
Retrieving Results for Index 251: rolim de moura, br.
City not found... skipping.
------------
Retrieving Results for Index 252: cedral, mx.
------------

Retrieving Results for Index 253: khuzhir, ru.
------------
Retrieving Results for Index 254: sidi ali, dz.
------------
Retrieving Results for Index 255: roros, no.
------------
Retrieving Results for Index 256: hithadhoo, mv.
------------
Retrieving Results for Index 257: vigrestad, no.
------------
Retrieving Results for Index 258: ponta do sol, cv.
------------
Retrieving Results for Index 259: barbalha, br.
------------
Retrieving Results for Index 260: lewiston, us.
------------
Retrieving Results for Index 261: appleton, us.
------------
Retrieving Results for Index 262: campoverde, pe.
------------
Retrieving Results for Index 263: alotau, pg.
City not found... skipping.
------------
Retrieving Results for Index 264: angoram, pg.
------------
Retrieving Results for Index 265: tshela, cd.
------------
Retrieving Results for Index 266: stoyba, ru.
City not found... skipping.
------------
Retrieving Results for Index 267: alto araguaia, br.
------------
Retrieving Results for Index 268: chapais, ca.
------------
Retrieving Results for Index 269: kalmunai, lk.
------------
Retrieving Results for Index 270: jiddah, sa.
City not found... skipping.
------------
Retrieving Results for Index 271: brigantine, us.
------------
Retrieving Results for Index 272: zhangjiakou, cn.
------------
Retrieving Results for Index 273: alofi, nu.
------------
Retrieving Results for Index 274: hjorring, dk.
------------
Retrieving Results for Index 275: ancud, cl.
------------
Retrieving Results for Index 276: baherden, tm.
------------
Retrieving Results for Index 277: ilulissat, gl.
------------
Retrieving Results for Index 278: san-pedro, ci.
------------
Retrieving Results for Index 279: sawtell, au.
------------
Retrieving Results for Index 280: borogontsy, ru.
------------
Retrieving Results for Index 281: mandiana, gn.
------------
Retrieving Results for Index 282: galiwinku, au.
City not found... skipping.
------------
Retrieving Results for Index 283: bathsheba, bb.
------------
Retrieving Results for Index 284: mittagong, au.
------------
Retrieving Results for Index 285: manuk mangkaw, ph.
------------
Retrieving Results for Index 286: longyearbyen, sj.
------------
Retrieving Results for Index 287: jabiru, au.
City not found... skipping.
------------
Retrieving Results for Index 288: barentsburg, sj.
City not found... skipping.
------------
Retrieving Results for Index 289: artyk, ru.
City not found... skipping.
------------
Retrieving Results for Index 290: cidreira, br.
------------
Retrieving Results for Index 291: san nicolas, ar.
------------
Retrieving Results for Index 292: wanning, cn.
------------
Retrieving Results for Index 293: mareeba, au.
------------
Retrieving Results for Index 294: claremore, us.
------------
Retrieving Results for Index 295: yanam, in.
------------
Retrieving Results for Index 296: grand river south east, mu.
City not found... skipping.
------------
Retrieving Results for Index 297: el faiyum, eg.
City not found... skipping.
------------
Retrieving Results for Index 298: booue, ga.
------------
Retrieving Results for Index 299: mongoumba, cf.
------------
Retrieving Results for Index 300: porto novo, cv.
------------
Retrieving Results for Index 301: sioux lookout, ca.
------------
Retrieving Results for Index 302: salalah, om.
------------
Retrieving Results for Index 303: khammam, in.
------------
Retrieving Results for Index 304: moranbah, au.
------------
Retrieving Results for Index 305: sitka, us.
------------
Retrieving Results for Index 306: maarianhamina, fi.
City not found... skipping.
------------
Retrieving Results for Index 307: alexandria, eg.
------------
Retrieving Results for Index 308: san cristobal, ec.
------------
Retrieving Results for Index 309: omboue, ga.
------------
Retrieving Results for Index 310: gazanjyk, tm.
------------
Retrieving Results for Index 311: paciran, id.
------------
Retrieving Results for Index 312: pedan, id.
City not found... skipping.
------------
Retrieving Results for Index 313: lagoa, pt.
------------
Retrieving Results for Index 314: danielskuil, za.
------------
Retrieving Results for Index 315: astoria, us.
------------
Retrieving Results for Index 316: katobu, id.
------------
Retrieving Results for Index 317: lompoc, us.
------------
Retrieving Results for Index 318: vostok, ru.
------------
Retrieving Results for Index 319: wajid, so.
------------
Retrieving Results for Index 320: grand centre, ca.
City not found... skipping.
------------
Retrieving Results for Index 321: masallatah, ly.
------------
Retrieving Results for Index 322: mitsamiouli, km.
------------
Retrieving Results for Index 323: puerto del rosario, es.
------------
Retrieving Results for Index 324: usogorsk, ru.
------------
Retrieving Results for Index 325: iranshahr, ir.
------------
Retrieving Results for Index 326: canico, pt.
------------
Retrieving Results for Index 327: zinder, ne.
------------
Retrieving Results for Index 328: tianpeng, cn.
------------
Retrieving Results for Index 329: anadyr, ru.
------------
Retrieving Results for Index 330: muros, es.
------------
Retrieving Results for Index 331: hamilton, au.
------------
Retrieving Results for Index 332: krasnopavlivka, ua.
------------
Retrieving Results for Index 333: olafsvik, is.
------------
Retrieving Results for Index 334: shaunavon, ca.
------------
Retrieving Results for Index 335: isangel, vu.
------------
Retrieving Results for Index 336: caborca, mx.
------------
Retrieving Results for Index 337: neon karlovasion, gr.
------------
Retrieving Results for Index 338: praia, cv.
------------
Retrieving Results for Index 339: haines junction, ca.
------------
Retrieving Results for Index 340: marathopolis, gr.
City not found... skipping.
------------
Retrieving Results for Index 341: kendari, id.
------------
Retrieving Results for Index 342: sao jose da coroa grande, br.
------------
Retrieving Results for Index 343: karratha, au.
------------
Retrieving Results for Index 344: vrangel, ru.
------------
Retrieving Results for Index 345: tiznit, ma.
------------
Retrieving Results for Index 346: tasbuget, kz.
City not found... skipping.
------------
Retrieving Results for Index 347: baker city, us.
------------
Retrieving Results for Index 348: oregon, us.
------------
Retrieving Results for Index 349: nenjiang, cn.
------------
Retrieving Results for Index 350: omsukchan, ru.
------------
Retrieving Results for Index 351: morondava, mg.
------------
Retrieving Results for Index 352: bartica, gy.
------------
Retrieving Results for Index 353: mimongo, ga.
------------
Retrieving Results for Index 354: thinadhoo, mv.
------------
Retrieving Results for Index 355: port lincoln, au.
------------
Retrieving Results for Index 356: shelopugino, ru.
------------
Retrieving Results for Index 357: sao filipe, cv.
------------
Retrieving Results for Index 358: midleton, ie.
------------
Retrieving Results for Index 359: tabialan, ph.
City not found... skipping.
------------
Retrieving Results for Index 360: uglekamensk, ru.
------------
Retrieving Results for Index 361: sebinkarahisar, tr.
------------
Retrieving Results for Index 362: pangnirtung, ca.
------------
Retrieving Results for Index 363: beyneu, kz.
------------
Retrieving Results for Index 364: fallon, us.
------------
Retrieving Results for Index 365: raudeberg, no.
------------
Retrieving Results for Index 366: eureka, us.
------------
Retrieving Results for Index 367: luba, gq.
------------
Retrieving Results for Index 368: tyrma, ru.
------------
Retrieving Results for Index 369: sao joao da barra, br.
------------
Retrieving Results for Index 370: barraute, ca.
------------
Retrieving Results for Index 371: hami, cn.
------------
Retrieving Results for Index 372: paraiso, mx.
------------
Retrieving Results for Index 373: dingle, ie.
------------
Retrieving Results for Index 374: oksfjord, no.
------------
Retrieving Results for Index 375: lebu, cl.
------------
Retrieving Results for Index 376: mancio lima, br.
------------
Retrieving Results for Index 377: luanda, ao.
------------
Retrieving Results for Index 378: tilichiki, ru.
------------
Retrieving Results for Index 379: karangampel, id.
------------

Retrieving Results for Index 380: mazatlan, mx.
------------
Retrieving Results for Index 381: moose factory, ca.
------------
Retrieving Results for Index 382: iringa, tz.
------------
Retrieving Results for Index 383: kushima, jp.
------------
Retrieving Results for Index 384: paradwip, in.
City not found... skipping.
------------
Retrieving Results for Index 385: touros, br.
------------
Retrieving Results for Index 386: kommunisticheskiy, ru.
------------
Retrieving Results for Index 387: aklavik, ca.
------------
Retrieving Results for Index 388: timbiqui, co.
------------
Retrieving Results for Index 389: zheleznodorozhnyy, ru.
------------
Retrieving Results for Index 390: constantine, dz.
------------
Retrieving Results for Index 391: champerico, gt.
------------
Retrieving Results for Index 392: cockburn town, tc.
------------
Retrieving Results for Index 393: illoqqortoormiut, gl.
City not found... skipping.
------------
Retrieving Results for Index 394: high level, ca.
------------
Retrieving Results for Index 395: bukachacha, ru.
------------
Retrieving Results for Index 396: hambantota, lk.
------------
Retrieving Results for Index 397: san patricio, mx.
------------
Retrieving Results for Index 398: turkmenabat, tm.
------------
Retrieving Results for Index 399: pochutla, mx.
------------
Retrieving Results for Index 400: nanortalik, gl.
------------
Retrieving Results for Index 401: ponta delgada, pt.
------------
Retrieving Results for Index 402: skibbereen, ie.
------------
Retrieving Results for Index 403: maceio, br.
------------
Retrieving Results for Index 404: grand gaube, mu.
------------
Retrieving Results for Index 405: basco, ph.
------------
Retrieving Results for Index 406: holbeach, gb.
------------
Retrieving Results for Index 407: pimentel, pe.
------------
Retrieving Results for Index 408: bandarbeyla, so.
------------
Retrieving Results for Index 409: yaguachi, ec.
------------
Retrieving Results for Index 410: bolungarvik, is.
City not found... skipping.
------------
Retrieving Results for Index 411: giddalur, in.
------------
Retrieving Results for Index 412: batemans bay, au.
------------
Retrieving Results for Index 413: chiang klang, th.
------------
Retrieving Results for Index 414: rio gallegos, ar.
------------
Retrieving Results for Index 415: coquimbo, cl.
------------
Retrieving Results for Index 416: klichka, ru.
------------
Retrieving Results for Index 417: montijo, es.
------------
Retrieving Results for Index 418: yanan, cn.
City not found... skipping.
------------
Retrieving Results for Index 419: ribeira grande, pt.
------------
Retrieving Results for Index 420: semnan, ir.
------------
Retrieving Results for Index 421: lima, pe.
------------
Retrieving Results for Index 422: banswara, in.
------------
Retrieving Results for Index 423: cumra, tr.
------------
Retrieving Results for Index 424: zhuhai, cn.
------------
Retrieving Results for Index 425: bumba, cd.
------------
Retrieving Results for Index 426: igarka, ru.
------------
Retrieving Results for Index 427: cuite, br.
------------
Retrieving Results for Index 428: shenkursk, ru.
------------
Retrieving Results for Index 429: senno, by.
City not found... skipping.
------------
Retrieving Results for Index 430: santa isabel do rio negro, br.
------------
Retrieving Results for Index 431: solovetskiy, ru.
City not found... skipping.
------------
Retrieving Results for Index 432: sakakah, sa.
------------
Retrieving Results for Index 433: adrar, dz.
------------
Retrieving Results for Index 434: maharajganj, in.
------------
Retrieving Results for Index 435: sanchor, in.
------------
Retrieving Results for Index 436: faanui, pf.
------------
Retrieving Results for Index 437: santa maria da vitoria, br.
------------
Retrieving Results for Index 438: alibag, in.
------------
Retrieving Results for Index 439: fairbanks, us.
------------
Retrieving Results for Index 440: cody, us.
------------
Retrieving Results for Index 441: diofior, sn.
------------
Retrieving Results for Index 442: gat, ly.
City not found... skipping.
------------
Retrieving Results for Index 443: hendijan, ir.
City not found... skipping.
------------
Retrieving Results for Index 444: henties bay, na.
------------
Retrieving Results for Index 445: kaeo, nz.
------------
Retrieving Results for Index 446: harlingen, nl.
------------
Retrieving Results for Index 447: harper, lr.
------------
Retrieving Results for Index 448: inhambupe, br.
------------
Retrieving Results for Index 449: walvis bay, na.
------------
Retrieving Results for Index 450: kyabe, td.
------------
Retrieving Results for Index 451: krugersdorp, za.
------------
Retrieving Results for Index 452: takoradi, gh.
------------
Retrieving Results for Index 453: hosur, in.
------------
Retrieving Results for Index 454: nouadhibou, mr.
------------
Retrieving Results for Index 455: zyryanka, ru.
------------
Retrieving Results for Index 456: manzil jamil, tn.
City not found... skipping.
------------
Retrieving Results for Index 457: monrovia, lr.
------------
Retrieving Results for Index 458: gravina in puglia, it.
------------
Retrieving Results for Index 459: ndungu, tz.
------------
Retrieving Results for Index 460: lufilufi, ws.
------------
Retrieving Results for Index 461: norman wells, ca.
------------
Retrieving Results for Index 462: bajo baudo, co.
City not found... skipping.
------------
Retrieving Results for Index 463: halalo, wf.
City not found... skipping.
------------
Retrieving Results for Index 464: menongue, ao.
------------
Retrieving Results for Index 465: miraflores, co.
------------
Retrieving Results for Index 466: yichang, cn.
------------
Retrieving Results for Index 467: vanderhoof, ca.
------------
Retrieving Results for Index 468: rennes, fr.
------------
Retrieving Results for Index 469: tacna, pe.
------------
Retrieving Results for Index 470: high rock, bs.
------------
Retrieving Results for Index 471: natitingou, bj.
------------
Retrieving Results for Index 472: teguldet, ru.
------------
Retrieving Results for Index 473: camacha, pt.
------------
Retrieving Results for Index 474: gamba, ga.
------------
Retrieving Results for Index 475: burica, pa.
City not found... skipping.
------------
Retrieving Results for Index 476: mezen, ru.
------------
Retrieving Results for Index 477: port blair, in.
------------
Retrieving Results for Index 478: turukhansk, ru.
------------
Retrieving Results for Index 479: kununurra, au.
------------
Retrieving Results for Index 480: kristianstad, se.
------------
Retrieving Results for Index 481: keningau, my.
------------
Retrieving Results for Index 482: hihya, eg.
------------
Retrieving Results for Index 483: bud, no.
------------
Retrieving Results for Index 484: svetlaya, ru.
------------
Retrieving Results for Index 485: lozna, ro.
------------
Retrieving Results for Index 486: shahrud, ir.
------------
Retrieving Results for Index 487: surt, ly.
------------
Retrieving Results for Index 488: nhulunbuy, au.
------------
Retrieving Results for Index 489: timmins, ca.
------------
Retrieving Results for Index 490: mount gambier, au.
------------
Retrieving Results for Index 491: najran, sa.
------------
Retrieving Results for Index 492: lajedo, br.
------------
Retrieving Results for Index 493: inta, ru.
------------
Retrieving Results for Index 494: visby, se.
------------
Retrieving Results for Index 495: yar-sale, ru.
------------
Retrieving Results for Index 496: senneterre, ca.
------------
Retrieving Results for Index 497: kismayo, so.
------------
Retrieving Results for Index 498: ormara, pk.
------------
Retrieving Results for Index 499: hoopstad, za.
------------
Retrieving Results for Index 500: zhigansk, ru.
------------
Retrieving Results for Index 501: tarboro, us.
------------
Retrieving Results for Index 502: kutum, sd.
------------
Retrieving Results for Index 503: okhotsk, ru.
------------
Retrieving Results for Index 504: berdigestyakh, ru.
------------
Retrieving Results for Index 505: marawi, sd.
------------
Retrieving Results for Index 506: san jose, gt.
------------
Retrieving Results for Index 507: korem, et.
------------

Retrieving Results for Index 508: puksoozero, ru.
------------
Retrieving Results for Index 509: sur, om.
------------
Retrieving Results for Index 510: nong han, th.
------------
Retrieving Results for Index 511: issia, ci.
------------
Retrieving Results for Index 512: maunabo, us.
City not found... skipping.
------------
Retrieving Results for Index 513: kamenskoye, ru.
City not found... skipping.
------------
Retrieving Results for Index 514: margate, za.
------------
Retrieving Results for Index 515: louisbourg, ca.
City not found... skipping.
------------
Retrieving Results for Index 516: kasama, zm.
------------
Retrieving Results for Index 517: crab hill, bb.
City not found... skipping.
------------
Retrieving Results for Index 518: conceicao do araguaia, br.
------------
Retrieving Results for Index 519: bereda, so.
City not found... skipping.
------------
Retrieving Results for Index 520: saint-leu, re.
------------
Retrieving Results for Index 521: coahuayana, mx.
------------
Retrieving Results for Index 522: prince rupert, ca.
------------
Retrieving Results for Index 523: azad shahr, ir.
------------
Retrieving Results for Index 524: coronado, us.
------------
Retrieving Results for Index 525: avenal, us.
------------
Retrieving Results for Index 526: carballo, es.
------------
Retrieving Results for Index 527: chegdomyn, ru.
------------
Retrieving Results for Index 528: bom despacho, br.
------------
Retrieving Results for Index 529: geraldton, au.
------------
Retrieving Results for Index 530: esso, ru.
------------
Retrieving Results for Index 531: itoman, jp.
------------
Retrieving Results for Index 532: sault sainte marie, ca.
------------
Retrieving Results for Index 533: kyshtovka, ru.
------------
Retrieving Results for Index 534: tokuyama, jp.
------------
Retrieving Results for Index 535: jinchang, cn.
------------
Retrieving Results for Index 536: fortuna, us.
------------
Retrieving Results for Index 537: villa carlos paz, ar.
------------
Retrieving Results for Index 538: maniitsoq, gl.
------------
Retrieving Results for Index 539: alvorada, br.
------------
Retrieving Results for Index 540: tornio, fi.
------------
Retrieving Results for Index 541: maldonado, uy.
------------
Retrieving Results for Index 542: benghazi, ly.
------------
Retrieving Results for Index 543: karasburg, na.
------------
Retrieving Results for Index 544: ossora, ru.
------------
Retrieving Results for Index 545: goundam, ml.
------------
Retrieving Results for Index 546: montepuez, mz.
------------
Retrieving Results for Index 547: amapa, br.
------------
Retrieving Results for Index 548: horqueta, py.
------------
Retrieving Results for Index 549: sokoni, tz.
------------
Retrieving Results for Index 550: armstrong, ca.
------------
Retrieving Results for Index 551: saint anthony, ca.
City not found... skipping.
------------
Retrieving Results for Index 552: belaya gora, ru.
------------
Retrieving Results for Index 553: nagato, jp.
------------
Retrieving Results for Index 554: aranos, na.
------------
Retrieving Results for Index 555: westport, nz.
------------
Retrieving Results for Index 556: namibe, ao.
------------
Retrieving Results for Index 557: whitehorse, ca.
------------
Retrieving Results for Index 558: dulovo, bg.
------------
Retrieving Results for Index 559: ixtapa, mx.
------------
Retrieving Results for Index 560: laguna, br.
------------
Retrieving Results for Index 561: ketchikan, us.
------------
Retrieving Results for Index 562: trelew, ar.
------------
Retrieving Results for Index 563: teknaf, bd.
------------
Retrieving Results for Index 564: jumla, np.
------------
Retrieving Results for Index 565: marrakesh, ma.
------------
Retrieving Results for Index 566: kapit, my.
------------
Retrieving Results for Index 567: medicine hat, ca.
------------
Retrieving Results for Index 568: maluko, ph.
------------
Retrieving Results for Index 569: boddam, gb.
------------
Retrieving Results for Index 570: morant bay, jm.
------------
Retrieving Results for Index 571: steenbergen, nl.
------------

In [12]:
# converting certain columns of DataFrame to float for ease later
cities_df[['Max Temperature (F)', 'Humidity', 'Cloudiness', 'Wind Speed (mph)']] = cities_df[['Max Temperature (F)', 'Humidity', 'Cloudiness', 'Wind Speed (mph)']].apply(pd.to_numeric)


# Displaying the dataframe
cities_df

,Latitude,Longitude,City,Country,Max Temperature (F),Humidity,Cloudiness,Wind Speed (mph),Date
0,-14.936039,13.322562,lubango,ao,69.80,56.0,0.0,3.44,1610528669
1,39.658409,-48.245995,torbay,ca,28.99,93.0,75.0,8.05,1610528850
2,-89.979413,37.550464,port elizabeth,za,71.60,83.0,90.0,13.80,1610528788
3,-35.580137,165.168906,ahipara,nz,65.88,84.0,10.0,6.15,1610528850
4,-63.583940,-38.583740,ushuaia,ar,41.00,75.0,0.0,8.05,1610528649
...,...,...,...,...,...,...,...,...,...
567,50.440424,-110.868744,medicine hat,ca,45.00,65.0,1.0,14.97,1610528977
568,8.361826,124.960650,maluko,ph,80.01,85.0,100.0,5.01,1610528978
569,56.959632,1.215939,boddam,gb,35.60,80.0,96.0,10.36,1610528978
570,16.191234,-76.291348,morant bay,jm,75.20,78.0,20.0,8.05,1610528978
571,51.707421,4.319723,steenbergen,nl,39.00,93.0,90.0,10.36,1610528978

In [14]:
# Exporting the dataframe to csv
cities_df.to_csv("city_weather_data.csv", encoding="utf-8", index=False)

In [ ]:
cities_df.dtypes

# because objects.

In [ ]:
cities_df.describe()

In [ ]:
# Checking if any humidity outliers by seeing if they are greater than the max

over100 = cities_df.loc[(cities_df["Humidity"] > 100)]
over100

In [ ]:
# There are none so it is okay to go to the plots with citities_df
# but dropping nan issues

cities_df = cities_df.dropna()

cities_df

# now 520 rows

In [ ]:
# Temperature (F) vs. Latitude
graph1 = cities_df.plot(kind = "scatter", x = "Latitude", y = "Max Temperature (F)", title = "Max Temperature (F) vs. Latitude")
graph1

In [ ]:
# Humidity (%) vs. Latitude
graph2 = cities_df.plot(kind = "scatter", x = "Latitude", y = "Humidity", title = "Humidity (%) vs. Latitude")
graph2

In [ ]:
# Cloudiness (%) vs. Latitude
graph3 = cities_df.plot(kind = "scatter", x = "Latitude", y = "Cloudiness", title = "Cloudiness (%) vs. Latitude")
graph3

In [ ]:
# Wind Speed (mph) vs. Latitude
graph4 = cities_df.plot(kind = "scatter", x = "Latitude", y = "Wind Speed (mph)", title = "Wind Speed (mph) vs. Latitude")
graph4

In [ ]:
# separating into hemispheres
#Northern Hemisphere (greater than or equal to 0 degrees latitude)  
#Southern Hemisphere (less than 0 degrees latitude)

northern_df = cities_df.loc[(cities_df["Latitude"] >= 0)]
northern_df

In [ ]:
southern_df = cities_df.loc[(cities_df["Latitude"] < 0)]
southern_df

In [ ]:
# Temperature (F) vs. Latitude
# Northern Hemisphere
graph1_north = northern_df.plot(kind = "scatter", x = "Latitude", y = "Max Temperature (F)", 
                                title = "Northern Hemishpere - Max Temperature (F) vs. Latitude Linear Regression")


# Perform a linear regression on temperature vs. latitude
# Calculating Regression line
x_value = northern_df["Latitude"]
y_value = northern_df["Max Temperature (F)"]

# so if i type stats.linregress I dont need to import it. importing stats is enough
(slope, intercept, rvalue, pvalue, stderr) = stats.linregress(x_value, y_value)

# Get regression values
regress_values = x_value * slope + intercept

# Create line equation string
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

# Create Plot
#plt.scatter(x_value, y_value)

# Label plot and annotate the line equation
#plt.xlabel("Latitude")
#plt.ylabel("Temperature")
#plt.title("Temperature vs. Latitude")
plt.plot(x_value, regress_values, "r-")
plt.annotate(line_eq,(55,15), fontsize=12,color="red")


# Print r square value
print(f"The r squared value is: {round(rvalue, 4)}.")

# Show plot
plt.show()

In [ ]:
# Temperature (F) vs. Latitude
# SOUthern Hemisphere
graph1_south = southern_df.plot(kind = "scatter", x = "Latitude", y = "Max Temperature (F)", 
                                title = "Southern Hemishpere - Max Temperature (F) vs. Latitude Linear Regression")


# Perform a linear regression on temperature vs. latitude
# Calculating Regression line
x_value = southern_df["Latitude"]
y_value = southern_df["Max Temperature (F)"]

# so if i type stats.linregress I dont need to import it. importing stats is enough
(slope, intercept, rvalue, pvalue, stderr) = stats.linregress(x_value, y_value)

# Get regression values
regress_values = x_value * slope + intercept

# Create line equation string
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

# Create Plot
#plt.scatter(x_value, y_value)

# Label plot and annotate the line equation
#plt.xlabel("Latitude")
#plt.ylabel("Temperature")
#plt.title("Temperature vs. Latitude")
plt.plot(x_value, regress_values, "r-")
plt.annotate(line_eq,(-80,10), fontsize=12,color="red")


# Print r square value
print(f"The r squared value is: {round(rvalue, 4)}.")

# Show plot
plt.show()

In [ ]:
# Humidity (%) vs. Latitude
# Northern Hemisphere
graph2_north = northern_df.plot(kind = "scatter", x = "Latitude", y = "Humidity", 
                                title = "Northern Hemishpere - Humidity (%) vs. Latitude Linear Regression")


# Perform a linear regression on temperature vs. latitude
# Calculating Regression line
x_value = northern_df["Latitude"]
y_value = northern_df["Humidity"]

# so if i type stats.linregress I dont need to import it. importing stats is enough
(slope, intercept, rvalue, pvalue, stderr) = stats.linregress(x_value, y_value)

# Get regression values
regress_values = x_value * slope + intercept

# Create line equation string
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

# Create Plot
#plt.scatter(x_value, y_value)

# Label plot and annotate the line equation
#plt.xlabel("Latitude")
#plt.ylabel("Temperature")
#plt.title("Temperature vs. Latitude")
plt.plot(x_value, regress_values, "r-")
plt.annotate(line_eq,(55,15), fontsize=12,color="red")


# Print r square value
print(f"The r squared value is: {round(rvalue, 4)}.")

# Show plot
plt.show()

In [ ]:
# Humidity (%) vs. Latitude
# SOUthern Hemisphere
graph2_south = southern_df.plot(kind = "scatter", x = "Latitude", y = "Humidity", 
                                title = "Southern Hemishpere - Humidity (%) vs. Latitude Linear Regression")


# Perform a linear regression on temperature vs. latitude
# Calculating Regression line
x_value = southern_df["Latitude"]
y_value = southern_df["Humidity"]

# so if i type stats.linregress I dont need to import it. importing stats is enough
(slope, intercept, rvalue, pvalue, stderr) = stats.linregress(x_value, y_value)

# Get regression values
regress_values = x_value * slope + intercept

# Create line equation string
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

# Create Plot
#plt.scatter(x_value, y_value)

# Label plot and annotate the line equation
#plt.xlabel("Latitude")
#plt.ylabel("Temperature")
#plt.title("Temperature vs. Latitude")
plt.plot(x_value, regress_values, "r-")
plt.annotate(line_eq,(-88,58), fontsize=12,color="red")


# Print r square value
print(f"The r squared value is: {round(rvalue, 4)}.")

# Show plot
plt.show()

In [ ]:
# Cloudiness (%) vs. Latitude
# Northern Hemisphere
graph3_north = northern_df.plot(kind = "scatter", x = "Latitude", y = "Cloudiness", 
                                title = "Northern Hemishpere - Cloudiness (%) vs. Latitude Linear Regression")


# Perform a linear regression on temperature vs. latitude
# Calculating Regression line
x_value = northern_df["Latitude"]
y_value = northern_df["Cloudiness"]

# so if i type stats.linregress I dont need to import it. importing stats is enough
(slope, intercept, rvalue, pvalue, stderr) = stats.linregress(x_value, y_value)

# Get regression values
regress_values = x_value * slope + intercept

# Create line equation string
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

# Create Plot
#plt.scatter(x_value, y_value)

# Label plot and annotate the line equation
#plt.xlabel("Latitude")
#plt.ylabel("Temperature")
#plt.title("Temperature vs. Latitude")
plt.plot(x_value, regress_values, "r-")
plt.annotate(line_eq,(60,50), fontsize=12,color="red")

# Print r square value
print(f"The r squared value is: {round(rvalue, 4)}.")

# Show plot
plt.show()

In [ ]:
# Cloudiness (%) vs. Latitude
# Southern Hemisphere
graph3_south = southern_df.plot(kind = "scatter", x = "Latitude", y = "Cloudiness", 
                                title = "Southern Hemishpere - Cloudiness (%) vs. Latitude Linear Regression")


# Perform a linear regression on temperature vs. latitude
# Calculating Regression line
x_value = southern_df["Latitude"]
y_value = southern_df["Cloudiness"]

# so if i type stats.linregress I dont need to import it. importing stats is enough
(slope, intercept, rvalue, pvalue, stderr) = stats.linregress(x_value, y_value)

# Get regression values
regress_values = x_value * slope + intercept

# Create line equation string
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

# Create Plot
#plt.scatter(x_value, y_value)

# Label plot and annotate the line equation
#plt.xlabel("Latitude")
#plt.ylabel("Temperature")
#plt.title("Temperature vs. Latitude")
plt.plot(x_value, regress_values, "r-")
plt.annotate(line_eq,(-90,53), fontsize=12,color="red")


# Print r square value
print(f"The r squared value is: {round(rvalue, 4)}.")

# Show plot
plt.show()

In [ ]:
# Wind Speed (mph) vs. Latitude
# Northern Hemisphere
graph4_north = northern_df.plot(kind = "scatter", x = "Latitude", y = "Wind Speed (mph)", 
                                title = "Northern Hemishpere - Wind Speed (mph) vs. Latitude Linear Regression")


# Perform a linear regression on temperature vs. latitude
# Calculating Regression line
x_value = northern_df["Latitude"]
y_value = northern_df["Wind Speed (mph)"]

# so if i type stats.linregress I dont need to import it. importing stats is enough
(slope, intercept, rvalue, pvalue, stderr) = stats.linregress(x_value, y_value)

# Get regression values
regress_values = x_value * slope + intercept

# Create line equation string
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

# Create Plot
#plt.scatter(x_value, y_value)

# Label plot and annotate the line equation
#plt.xlabel("Latitude")
#plt.ylabel("Temperature")
#plt.title("Temperature vs. Latitude")
plt.plot(x_value, regress_values, "r-")
plt.annotate(line_eq,(40,12), fontsize=12,color="red")

# Print r square value
print(f"The r squared value is: {round(rvalue, 4)}.")

# Show plot
plt.show()

In [ ]:
# Wind Speed (mph) vs. Latitude
# Southern Hemisphere
graph4_south = southern_df.plot(kind = "scatter", x = "Latitude", y = "Wind Speed (mph)", 
                                title = "Southern Hemishpere - Wind Speed (mph) vs. Latitude Linear Regression")


# Perform a linear regression on temperature vs. latitude
# Calculating Regression line
x_value = southern_df["Latitude"]
y_value = southern_df["Wind Speed (mph)"]

# so if i type stats.linregress I dont need to import it. importing stats is enough
(slope, intercept, rvalue, pvalue, stderr) = stats.linregress(x_value, y_value)

# Get regression values
regress_values = x_value * slope + intercept

# Create line equation string
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))

# Create Plot
#plt.scatter(x_value, y_value)

# Label plot and annotate the line equation
#plt.xlabel("Latitude")
#plt.ylabel("Temperature")
#plt.title("Temperature vs. Latitude")
plt.plot(x_value, regress_values, "r-")
plt.annotate(line_eq,(-88,6), fontsize=12,color="red")


# Print r square value
print(f"The r squared value is: {round(rvalue, 4)}.")

# Show plot
plt.show()