# WeatherPy

## Imports

In [34]:
from citipy import citipy
import numpy as np
import pandas as pd
import json 
import requests
import matplotlib.pyplot as plt
from api_keys import weather_api_key
from api_keys import g_key

## Generate Cities List

In [20]:
#First want to create my list of 500 lat/lng pairs
# it says AT LEAST 500 so how many?????
# assuming best way is to obtain from a dataframe like we did in examples
# Lat and Long: in decimal degrees format and range from -90 to 90 for latitude and -180 to 180 for longitude.
# so for randomness will need to go through whole range of lats and whole range of longs
# also need to make sure they are unique pairs.
# could I make massive list and remove duplicates?? or is there a unique random function

# don't want integers for lat/long b/c need decimals
# numpy.random.uniform(low=0.0, high=1.0, size=None) seems best
# everything else only goes b/w 0 and 1 for numpy.random and other random features
# also seems you could use  import random   random.uniform(a, b)
# round(random.uniform(1,2), N) to ensure decimals

# also, how many decimal places do lat/long need. I saw somehting that said 15
# I wonder if there is a requirement for the google thingo and if I can round

from numpy.random import seed


# this sets it so that everytime I run seed(1) and then the random thingo it will give the same random numbers
# just to help me get a handle on what's happening
# works for both
seed(1)

lat_number = np.random.uniform(-90, 90, 700)

long_number = np.random.uniform(-180, 180, 700)

print(lat_number)
print(long_number)

[-1.49360392e+01  3.96584088e+01 -8.99794125e+01 -3.55801369e+01
 -6.35839397e+01 -7.33790529e+01 -5.64731620e+01 -2.77990691e+01
 -1.85818546e+01  6.98701212e+00 -1.45449874e+01  3.33395101e+01
 -5.31985950e+01  6.80611386e+01 -8.50702332e+01  3.06841518e+01
 -1.48851356e+01  1.05641691e+01 -6.47303511e+01 -5.43417320e+01
  5.41340224e+01  8.42870836e+01 -3.35836479e+01  3.46180708e+01
  6.77500474e+01  7.10291994e+01 -7.46920420e+01 -8.29701390e+01
 -5.94305245e+01  6.80656506e+01 -7.22975699e+01 -1.42006275e+01
  8.24201154e+01  5.96975130e+00  3.45378805e+01 -3.32071864e+01
  3.35701670e+01  6.02326209e+01 -8.67081101e+01  4.50259767e+01
  8.79949960e+01  4.46698178e+01 -3.95200814e+01  5.20702791e+01
 -7.14193188e+01 -9.37916529e+00  7.35471906e+01 -3.71494533e+01
 -3.82004391e+01 -6.65948570e+01 -8.65139476e+01  3.21903959e+01
 -5.19069391e+01 -4.22016013e+01 -1.51683133e+00 -8.03947419e+01
  1.33411690e+01 -6.35888565e+01  1.60749966e+01  3.59565048e+01
 -7.15798028e+01 -1.54699222e+01  3.49920284e+01 -1.54477315e+01
 -8.10083774e+01  6.46135306e+00  2.94830361e+01  2.68004017e+00
  8.00270561e+01  1.55799073e+01  7.26123448e+01 -6.52545533e+01
 -6.49302575e+01  5.53304320e+01 -1.84181693e+01 -6.02362445e+01
  7.69515445e+01 -2.74021452e+01  4.51461786e+01  4.06796374e+01
  6.89950964e+01  2.22609973e+01  4.51696381e+01 -2.71982984e+01
 -4.14129795e+01  7.12595193e+01 -1.29435858e+01  8.36712085e+01
  2.94194696e+01  2.19052296e+01 -6.93457249e+01  8.09080666e+01
 -9.01581597e+00  1.41101306e+01 -1.65353755e+01 -4.73351436e+01
  7.26083137e+01  1.32623076e+01 -8.94833411e+01  2.10860845e+01
 -3.12039177e+01  4.87045841e+00  6.94695779e+01 -2.56914432e+01
  7.35363272e+01  2.22048208e+01 -8.71521763e+01  7.72987021e+01
  3.43614452e+01  8.95181131e+01 -5.89787085e+01 -6.53155651e+01
  7.78671833e+01  3.54272691e+01 -7.81199689e+01  4.59833495e+01
  4.56977139e+01  7.61444164e+01  3.80744566e+01 -6.76312268e+01
 -8.64215759e+01 -8.52820224e+01 -8.49048322e+01 -4.56820078e+01
  6.48050308e+01  6.98959158e+00  9.50795616e+00  6.15655606e+01
 -6.76488033e+01 -3.97469378e+01  1.54366689e+01  8.45272347e+01
  1.09854395e+01 -8.66434879e+01  5.41138811e+01 -4.80646307e+01
  5.52789352e+01 -2.01850841e+01  6.54375338e+01  4.44818957e+01
  1.01232421e+01 -6.54380594e+01 -7.92148159e+01 -6.81581780e+01
 -8.19806619e+01 -7.06510568e+01 -4.93723191e+01  3.83380165e+01
  1.07490568e+01 -8.77399236e+01 -7.70446297e+01  8.41097394e+01
  1.22580831e+01 -5.34072178e+01 -4.45813660e+01  4.38886537e+01
 -5.48226934e+01  1.46446069e+01  8.46035980e+01  6.24291843e+01
 -4.68274034e+01 -1.12145143e+00  2.15920293e+01  5.92165619e+01
 -6.17775490e+01 -8.66562836e+01 -7.73960141e+01 -2.45788003e+00
  1.91393031e+01  1.23932587e+01 -3.28747663e+01  8.79509078e+01
  1.43541395e+01 -2.15745889e+01  9.17067944e+00  4.41601976e+01
  3.04619208e+01 -4.23144796e+01 -7.80597298e+01 -2.33848444e+01
  2.33491513e+01 -5.21686782e+01  4.54959997e+01 -7.80234334e+01
 -4.31432823e+01  5.48558215e+01 -5.51818291e+01  2.51029586e+01
  4.44065564e+00  7.64654347e+01 -4.26065813e+01 -7.81270037e+01
  4.23118734e+01  4.89920453e+01  7.34068535e+01  7.77549725e+01
 -8.74887169e+01 -4.78148245e+01  2.10201043e+01  8.08229377e+01
  8.10317015e+01  1.01975739e+01  7.48091430e+01  2.54819176e+01
 -1.97986115e+01 -2.52167992e+00  1.87758869e+01  8.91862587e+00
  7.67126568e+01  7.53720184e+01 -1.89223897e+01  8.33872551e+01
 -5.86879800e+01 -6.72606865e+01 -6.56857516e+01  1.01918982e+00
 -8.61255351e+01  8.06346380e+01  5.88807848e+01 -8.72965835e+01
 -5.82846740e+01 -3.02285566e+01 -6.64205679e+01  5.57083246e+01
 -2.79474025e+01  7.92193468e+01  1.47625524e+01  6.81897572e+01
  6.20522002e+01  7.29706174e+01 -7.22155215e+00  8.34242688e+00
  5.37486464e+01 -3.85706067e+01 -1.75436593e+00  1.78398554e+01
 -8.72040104e+01  1.68266535e+01 -1.19382572e+01  5.53248952e+01
 -3.32559354e+01  7.07199675e+01  1.40142988e+01 -5.68781637e+01
  5.18272621e+01  2.01656119e+01 -8.02963310e+01 -1.43651376e+01
  3.22323906e+01  7.53483200e+01 -8.99276355e+01  8.58166468e+01
 -2.22155433e+01  8.52810369e+01  1.88488982e+01  5.91922454e+01
  1.34480708e+01  2.30537157e+01 -3.85962693e+01  1.56300013e+01
  4.50039175e+01  6.44964906e+01  4.59147939e+01  3.56503047e+01
  6.56062974e+01 -3.19174206e+01  3.07419823e+01 -8.84269145e+00
 -2.12215046e+01 -1.60539570e+01 -1.77336750e+01 -3.28708897e+01
  2.19454862e+01 -1.25554913e+01  8.52843740e+01  3.20041605e+01
 -5.42574201e+01 -1.31938183e+01 -2.81976768e+01  5.35749847e+01
  6.83996919e+01  7.26915520e+01  2.92895662e+01 -4.13625128e+01
 -4.45739937e+01  6.38816297e+01  4.98863634e+00  5.43889951e+01
  1.30479331e+01  4.19656546e+01  3.42209294e+00  4.87591039e+01
  1.23944383e+01 -6.17222185e+00 -2.83159966e+01 -7.77223173e+01
 -2.19736477e+01 -7.56673060e+01  8.69070805e+01 -5.73096868e+01
  5.61345656e+01  6.74930961e+01  3.39143854e+01  1.25089943e+01
 -6.10251414e+01 -5.96159590e+00 -2.78690308e+01 -4.94928076e+01
  1.66521364e+01 -3.37914292e+01  7.49349996e+01  7.37343945e+01
 -4.37187071e+01 -7.00395659e+01 -5.52667082e+01 -7.48492778e-02
  4.11454202e+01 -5.25250011e+01 -4.53539595e+01  6.33009375e+01
 -1.51472307e+01  2.10033121e+01 -4.79400949e+01 -7.16458933e+01
  2.85426305e+00 -4.11462233e+00 -6.25191041e+01  2.19251217e+01
  7.92182139e+00  2.77447225e+01 -6.39818028e+01  4.52750071e+01
 -5.00311548e+01  3.48332839e+00  5.13532851e+01 -8.59805230e+01
 -3.16147572e+01  6.71260278e+01  6.20477294e+01  6.91930667e+00
  6.59894893e+01  8.09650784e+01  5.87532596e+01  6.37407799e+01
 -7.22261877e+01  2.72347798e+01  3.66330579e+01  1.98433463e+01
  5.39307471e+01 -8.37771804e+01  4.86429722e+01  4.17111481e+01
 -4.32542892e+01 -4.37275262e+01  2.38145971e+01 -2.78464569e+01
  5.33859620e+01 -9.69367824e+00  5.08948947e+01  8.82849211e+01
 -3.59552989e+01 -6.42589509e+01  7.22355185e+01  7.48068820e+00
  8.54532668e+01  2.45887920e+01  8.89043444e+01  8.29274475e+00
  4.75666810e+00 -6.56229774e+01 -2.59730692e+01 -8.52806579e+01
 -6.11288677e+01  4.42146947e+01 -8.45280558e+01 -2.40222425e+01
  6.52223255e+01  3.46819892e+01  3.43695856e+01 -5.60453758e+01
 -1.04572295e+01  1.46839333e+01  8.81553074e+01 -5.32968795e+01
 -4.54080777e+01 -4.28088449e+01  4.50310344e+01 -7.74444106e+00
 -7.97527011e+01  1.53292331e+00 -5.18471704e+01  5.37487641e+01
 -3.64803513e+01 -8.50309178e+01  1.68178409e+01  6.18912772e+01
 -2.14170977e+01  4.49744959e+01  2.00546609e+00  7.37132489e+00
  8.26981778e+01  5.47129605e+01 -8.41818480e+01  3.76897052e+01
 -6.29973332e+00  8.05588095e+01 -5.01421078e+01 -4.19270365e+01
 -7.53346863e+01 -1.28486108e+01 -7.03766225e+01  2.40816169e+01
  5.45333827e+01  3.54240893e+01  4.79180486e+01 -2.83582584e+01
  6.22532669e+01 -1.28216205e+01  5.83217767e+01  2.27693086e+01
 -6.41838512e+01 -7.58903580e+01 -8.67001243e+01 -7.79895004e+01
 -7.45491353e+00 -6.95984539e+01 -8.49989972e+01  4.58750667e+01
 -1.89269135e+01  4.44489292e+01 -8.56713119e+00 -8.98438554e+00
 -3.94694879e+00 -4.67929322e+00  5.45694016e+01 -1.75693464e+01
  7.28435089e+01 -8.33290114e+01  4.92973817e+01 -6.73845514e+01
  2.13324420e+01 -8.81344330e+01  6.95291086e+00 -8.94567678e+01
  8.12148814e+01  7.29723661e+01  5.32740495e+01  7.47493776e+01
 -6.37995184e+01 -6.16085874e+01 -5.62262989e+01  2.20492624e+01
  7.30457093e+01  8.81919321e+01  3.80020426e+01  4.17240736e+01
  7.36727768e+01 -1.78427282e+01 -4.50268776e+01 -5.87825693e+01
 -6.84977309e+01  5.62699058e+01 -6.35773728e+01 -4.24264531e+01
  5.74360522e+01 -3.40942947e+01  8.68351409e+01 -4.20050336e+01
  6.05760209e+00 -3.33959380e+01  7.39391096e+01 -2.40198041e+01
 -1.19533811e+01  2.21268461e+00  7.89995659e+01 -8.44291789e+01
  3.90381595e+01  7.03834118e+01 -8.50882998e+01  3.96922451e+00
 -3.13218339e+01  6.47080778e+01  1.05329792e+01  3.42410163e+01
 -8.48637001e+00  2.30956268e+01 -3.77825667e+01 -8.83172560e+01
  1.38160683e+01 -3.39400415e+01  3.10816773e+00  7.49530535e+01
 -1.32345381e+01 -4.54687134e+01 -2.31671230e+01  7.77350010e+01
  7.86363086e+01  6.19793907e+01  7.56371726e+01 -4.89779478e+01
 -7.42532023e+01 -4.90842475e+01 -3.34122091e+01 -5.85421423e+01
  1.92769492e+01 -1.55544453e+01  5.69432721e+01 -5.66765283e+01
  3.63377754e+01 -4.67359875e+01  1.33594360e+01 -2.71822325e+01
 -7.97464081e+01 -4.88135392e+01  2.95384600e+01 -4.94983195e-01
  3.42287713e+00 -5.85503730e+01  1.27288533e+01  8.94156165e+01
  5.70303196e+01  1.69870723e+01  8.56780323e+01  7.22812652e+01
  1.72094280e+01 -8.41632614e+01 -7.31561228e+01 -7.82330913e+01
 -8.68803324e+00 -2.24217300e+01  8.55630062e+01 -5.97630072e+01
  8.51017665e+01  4.81454764e+01  5.83628111e+01  2.38708470e+01
  3.03718986e+01 -4.16117997e+00 -8.76354558e+01 -2.64589046e+01
 -1.42707573e+00  4.14164180e+01 -5.64689831e+00 -7.66711510e+00
 -6.52207066e+01 -8.80400279e+01  4.64900869e+01 -3.24084891e+01
  8.71890210e+01 -5.03578393e+01 -2.90325554e+01  4.30130442e+00
  4.58804623e+01 -6.50559890e+00 -6.75319422e+01 -3.37497519e+01
  8.13450546e-01  3.12928214e+01  4.86269921e+01 -6.65395594e+01
 -8.58752764e+01  3.43481800e+00  5.57979679e+01 -8.77313219e+01
  3.10445720e+01  3.36254808e+01 -9.13558435e+00  7.46619636e+01
  2.59849953e+01 -8.90568292e+01 -2.80287981e+00  6.46772051e+01
  5.94719226e+01  2.68477555e+01  3.12657163e+01  1.41299244e+01
 -4.06584405e+01  1.08953983e+01  3.09113613e+01 -2.65626666e+01
  6.40491061e+01 -5.48932525e+01  4.45177459e+01 -3.78715057e+01
  4.92838717e+01 -1.30072807e+01  5.53857136e+01 -2.63637247e+01
 -5.15352172e+01  4.81112115e+01 -3.44444494e+01  4.19841122e+01
  4.40051676e+01 -5.01485938e+01 -5.14598154e+01 -5.41893738e+01
 -6.43466992e+01 -2.21251321e+01 -8.52069808e+01 -7.00343336e+01
  3.14215243e+01  5.39597766e+01 -7.55046851e+01 -4.82935841e+01
 -5.26273809e+01  7.51200414e+01  3.80366133e+01  9.69922999e+00
 -3.51867622e+01  6.02737286e+01 -1.16449276e+01  7.62221187e+01
  3.70893248e+01 -3.95436457e+00 -6.72821813e+01  8.56878391e+01
 -6.12299429e+01 -5.35316175e+01 -1.23872841e+01 -1.72436570e+01
 -6.35847335e+01  4.12774055e+01 -5.60258880e+01  2.59012160e+01
  4.57750711e+01 -5.20681694e+01  1.81717647e+01  4.48071075e+01
  2.48793679e+01  1.74829145e+01 -3.68131886e+01  4.16891648e+01
  8.01555192e+01 -1.33989498e+01  5.07927270e+01 -7.98946129e+01
  6.03488884e+01 -5.53949970e+01 -1.88825636e+01 -3.59854117e+01
 -7.55813441e+01  7.28335805e+01 -2.33722480e+01  5.52553893e+00
 -1.05907214e+00 -6.62109945e+01 -5.28382694e+01 -7.62860144e+01
  1.42590599e+00 -4.29210807e+01 -2.57289104e+01 -7.05482408e+01
  5.17593311e+01 -7.08149022e+01  8.74275883e+01 -5.81109904e+01
  1.30329202e+01 -8.19278398e+01  5.16809321e+01 -5.58709294e+01
  5.02271611e+00  4.32139578e+01 -6.30123327e+01  9.19569135e+00
 -5.10089025e+01  4.66552889e+01  4.01247348e+01 -5.82211738e+01
  6.51539804e+01 -8.64404821e+01  6.48426595e+01  1.06026860e+01
 -1.74203150e+01  4.65744476e+01  3.90472203e+01  8.77187115e+01
 -3.99446912e+01 -8.93171390e+01  7.81024695e+01  6.44214788e+01
  4.11931580e+01  3.00398093e+00  3.72521241e+01  5.04953202e+01
 -2.25223302e+01  4.86580546e+01  4.51123775e+01  2.03780181e+01
 -1.76641337e+01  3.55154435e+01 -8.94396856e+01  4.94813964e+01
  7.13549884e+01 -4.69231727e+01 -6.82619068e+01 -5.03488822e+01
 -3.56225884e+01  6.89451315e+01  7.76995744e+00 -3.83919031e+01]
[-1.30192312e+02 -7.55479933e+01  4.09935923e+01 -6.33101292e+01
 -1.53503346e+01 -2.01178415e+01  1.18128730e+02 -2.65146645e+01
 -5.55484244e+01  6.29897777e+01 -1.00266460e+02 -1.17915034e+01
 -6.66843526e+01  4.56680168e+01  1.35849771e+02 -1.88319599e+01
  1.02404671e+02 -1.54923478e+01  5.62425594e+01 -1.32537249e+02
 -2.41266575e+01  1.47352316e+02  3.79724404e+01  9.60388514e+01
  1.69221891e+00 -6.99975062e-01  1.23443942e+02 -1.55589504e+02
  2.63780178e+01  1.59394527e+02  6.42961734e+00 -1.09992309e+02
  1.25258181e+02 -8.94099088e+01  7.22613731e+01  1.44939385e+01
  1.61581064e+02  4.47612129e+01  1.21672066e+02 -1.77144165e+02
  1.76162420e+02 -1.52022755e+02 -6.40333751e+01  1.60614862e+02
 -1.76781923e+02  1.16182802e+02  1.30036190e+02 -2.16609069e+01
 -8.79317302e+01  1.08968227e+02 -7.96967840e+00 -1.31638101e+02
  1.54025637e+02  1.42549188e+02 -3.04374599e+00  1.28412899e+02
 -2.93119107e+01  6.60473641e+01 -3.67233698e+01  2.06712628e+00
 -1.11761387e+02  1.67396013e+02 -7.40823522e+01 -1.42754560e+02
 -1.28046456e+02 -1.74926774e+02  7.77404518e+01  2.32193953e+01
  1.06048206e+02  2.54877238e+00  1.05055574e+02  7.04751171e+01
  1.00025452e+02 -3.36661672e+01  5.31974279e+01 -1.15274053e+02
 -6.41448132e+01 -1.17862337e+02 -3.28905990e+01 -9.30892507e+01
 -3.35080821e+01  1.71080043e+02 -6.46850427e+01  1.73696740e+02
  4.90702053e+01 -4.49672334e+01  1.28694420e+02  4.30512262e+01
 -8.92680912e+01  1.05428044e+02 -2.41421369e+01 -5.12959798e+01
 -6.11003029e+01  7.10527952e+01 -8.32859554e+01  1.10980085e+02
 -7.36960340e+01  1.58836981e+01 -4.34826295e+00  1.27928309e+02
  1.39819116e+02 -1.13621601e+02  3.07254452e+01  1.43353817e+02
 -1.93978011e+01  1.51872590e+02 -7.95632794e+01  3.91792227e+01
  6.56833355e+01 -9.78459360e+01 -1.75043695e+02 -2.99793735e+01
  1.57853481e+02 -5.65098805e+01  1.00707946e+02 -1.17094927e+02
 -5.68969789e+01 -1.27944820e+02  7.80374931e+01  7.17507445e+01
  6.78590345e+01 -8.87774276e+01  6.92496438e+01 -9.81728853e+01
 -2.71263183e+01 -4.61080362e+01 -5.20891518e+01 -1.59244269e+02
  4.73927857e+01  7.46339770e+01  4.08919300e+01  5.33925922e+01
 -1.18821343e+02 -1.26199152e+02  5.10301567e+00  1.35119781e+02
 -1.13776761e+02 -1.33779173e+01 -2.55843597e+01 -9.75893069e-01
 -1.21856123e+02 -5.67213692e+01 -8.57230545e+01  1.24029700e+02
  1.08119608e+02 -2.64099030e+01  3.85255659e+01 -1.27632380e+02
  3.46078592e+00 -7.30990491e+01  1.29474343e+02  6.17754171e+01
  4.80506445e+01 -1.35089532e+02 -1.05883634e+01  1.75166201e+02
  1.61387703e+02  5.22308305e+01 -1.25379046e+02  5.00856655e+01
  2.36383605e+01 -1.12802984e+01 -2.59065110e+01  3.57371120e+01
  1.25989160e+02  9.04035745e+01  2.85697945e+01  1.52893505e+02
 -1.56693606e+02  1.76884743e+02 -1.60921965e+02 -1.08181603e+02
 -2.78090418e+01 -1.41296805e+02  4.45213480e+01 -1.62722677e+02
 -7.75354028e+01 -1.58026795e+02  7.32669592e+01  6.06442203e+01
 -4.37109864e+01 -1.12250066e+02  8.89217385e+01 -5.74634553e+01
  1.06308420e+02 -4.35566190e+00  9.24099997e+00 -1.69743294e+02
  5.19235272e+01 -5.37636591e+01 -9.74861902e+01 -2.38019846e+01
 -4.23117154e+01 -1.08759456e+01  1.72614008e+02 -4.88238947e+01
  9.87876480e+01  1.89963348e+01  1.40087192e+02 -5.22169736e+01
 -9.16132751e+01  1.47966926e+02 -1.64327665e+02  1.62271234e+02
  2.03064896e+01 -4.45092420e+01  1.78218836e+02 -1.58989447e+02
  6.01428952e+00 -1.68805053e+02  2.56232661e+01 -1.15031337e+02
  4.71453121e+01  1.73132523e+02  1.34964918e+02 -1.73389502e+01
  7.50459132e+01  9.98887500e+01 -1.85648969e+00  1.02720565e+01
 -1.25717617e+02 -4.70160268e+01 -1.28800349e+02  8.16817512e+01
 -8.27532202e+00 -1.84036188e+01  1.38959270e+02  9.94275803e+00
 -3.27273005e+01 -8.31988720e+01 -1.54075667e+02 -2.94709919e+01
 -1.70728746e+02 -7.51845814e+01  1.26342355e+00  1.67735903e+02
 -1.40622151e+02  6.22947795e+01 -2.43464043e-02  9.97553625e+01
 -1.28301481e+02 -1.50047051e+02 -3.62813021e+01  1.06906411e+02
 -1.10996734e+02  9.63997892e+01 -7.54927211e+01 -1.01919064e+02
 -1.73982388e+02 -3.64827384e+01 -4.28106631e+01  5.73641770e+01
 -1.54469376e+02 -1.25062565e+02 -1.74032682e+02 -1.39033312e+02
  5.46441394e+01 -3.50435332e+01 -6.44305269e+01  2.08483179e+01
  1.77645767e+02  1.20415145e+02  7.18643457e+01  1.50573092e+02
 -1.65697666e+02 -1.54679961e+02 -9.35773560e+00 -5.42997313e+01
  1.57410742e+02 -3.75661399e+00  1.42736796e+01  1.42293732e+02
 -1.92113835e+01  1.35732380e+02 -8.87105702e+01 -8.14285065e+01
 -6.17898996e+01  1.71231374e+01 -1.00753677e+02  6.17145016e+01
 -1.28594418e+02 -1.46123901e+02  1.33269029e+02 -9.47272667e+01
 -4.10385560e+01  2.57551534e+01  9.28870918e+00 -1.52631403e+02
  1.34685337e+02  1.62408823e+02  1.12502630e+02 -7.78313394e+01
  1.00248466e+01 -5.78099794e+01  1.96802319e+01  1.70785249e+02
 -6.77869496e+01  6.07667781e+01 -6.26518054e+01  9.88118158e+01
 -6.27084120e+01  1.40337843e+02  9.06147795e+01  9.45475544e+01
 -1.09875497e+01 -1.04124779e+02 -1.65068971e+02 -6.41416320e+01
 -1.66639441e+02  6.97879481e+01  6.13260115e+01 -2.50301582e+01
  9.64040320e+01  1.29630581e+01 -1.65650426e+02 -1.31474478e+02
 -1.10370096e+02 -5.91610316e+01 -1.61167339e+02  3.78420410e+01
  4.34196991e+00  4.22859643e+01 -2.43519859e+01  1.25172169e+02
 -1.65387398e+01 -1.74454733e+02  1.34304533e+02  5.62325572e+01
  1.16281095e+02  1.62639249e+02 -1.61671542e+02 -9.53741289e+01
 -1.57196360e+02 -2.82031610e+01  1.30978492e+02 -1.50615366e+02
 -9.67969696e+00 -1.34804480e+02  9.82388168e+01  1.22911976e+02
 -1.64415262e+02 -4.88133246e+00 -9.38120241e+01  1.62890561e+02
  1.59801346e+02  4.10162409e+01  1.70455463e+02 -5.58499163e+01
  1.43226258e+02 -2.35458096e+01 -9.51067306e+01  1.58698067e+02
  6.63184984e+01 -1.56631829e+02  1.33352948e+02  7.24969061e+01
  3.77736743e+01  8.36549637e+01 -8.87619447e+01  3.61760239e+01
  1.13262905e+02 -1.60519082e+02 -1.33016158e+02  1.23280492e+02
  4.26045130e+01  1.12636118e+01 -9.06153376e+01 -7.37717129e+01
  1.34167019e+02 -2.82002635e+01 -1.56805108e+02  1.42914625e+02
 -1.06782900e+02  1.17441913e+02  1.37437424e+02 -4.76973187e+00
  3.54472895e+01  9.81628433e+00  4.49356659e+01  1.27815020e+02
 -7.84297986e+01  1.38151983e+02  2.43685188e+01 -1.38562905e+02
 -9.82795805e+01  3.45536588e+01 -9.37993547e+01 -1.32690362e+02
 -1.21734823e+02  1.24154107e+02  3.67861154e+01  1.66884151e+02
 -5.55554832e+01  3.44250353e+01  3.56347040e+01  4.16535434e+01
 -1.58696205e+02  9.01141864e+01  1.61355419e+02  1.24844606e+01
 -1.10679832e+02  9.10533294e+01 -1.77365171e+02 -6.18278027e+01
  1.50338285e+02  3.18122398e+01  1.27868502e+02  3.76819388e+01
  1.16128135e+02  1.36614068e+02 -6.44449052e+01 -1.35736282e+02
  7.96692039e+01 -2.14750487e+01 -1.34375145e+02  3.23365133e+01
 -1.67015407e+02 -1.07934438e+02  1.03788428e+02 -1.75645166e+02
 -7.07955582e+01 -1.72304654e+02  1.79094597e+02  2.95307915e+01
 -7.43845397e+01  1.54421806e+02  2.56299248e+00 -1.63107981e+01
  3.16337423e+01 -8.49104481e+01 -7.00962122e+01 -4.62043524e+01
 -9.19987202e+01  3.04370158e+01  7.05046082e+01 -1.54099001e+02
  1.69589995e+02  9.11054361e+01  1.10218739e+02  9.05905455e+01
 -1.51178048e+02 -6.58933811e+00 -1.95577357e+01  6.20901542e+01
 -1.84545868e+01  7.35528234e+01  6.53923215e+01  7.09734704e+01
  4.26962673e+01 -1.25646936e+02  9.38888843e+01  1.01176496e+02
  1.45477075e+02 -9.58432707e+01 -1.16395598e+02 -3.92043157e+01
 -6.45967246e+01  1.13571694e+02  4.08693239e+01  9.36006308e+01
 -2.60405641e+01 -1.44201397e+02 -1.38587396e+02 -4.55734326e+01
 -1.10214804e+02  1.15468740e+02  3.58689630e+01  6.79842932e+01
 -3.20041393e+00 -1.48257475e+02 -9.53720508e+01 -1.38232509e+01
 -1.08507059e+02 -1.70828555e+02  8.25831714e+01  8.09700290e+01
 -6.10589713e+01  1.23657885e+02 -2.57607087e+01  1.31287012e+02
  5.65435529e+01  2.91728367e+01 -1.07738104e+02  1.06367798e+01
  1.41995671e+02 -7.02021687e+01  1.33540419e+02  1.47148298e+02
 -6.12559574e+01  6.59067719e+01  1.43719542e+02 -1.52749123e+02
  1.36291631e+02 -1.11297829e+02  1.25916808e+02  6.01627639e+01
 -5.60378896e+01 -1.25504795e+02  4.87335461e+01  1.25203696e+02
  1.15865775e+02  4.61662550e+01  1.64268544e+02  3.23723257e+01
 -1.08780198e+02 -2.54409399e+01 -5.87714405e+01  1.77100204e+02
 -4.31148614e+01  1.77372315e+02  6.76953026e+00 -1.17979307e+02
 -1.53153334e+02 -4.66899502e+01 -1.35569210e+02  4.84267379e+01
 -3.09888555e+01  1.76729628e+02  1.54784025e+02 -1.26275028e+02
 -3.78423855e+01 -1.38313041e+01  2.19415518e+01  1.00930868e+02
 -4.61019273e+00 -2.88023213e+01 -8.56801063e+01  1.47890210e+02

In [21]:
# make my data frame out of these lists

number_df = pd.DataFrame({"Latitude":lat_number, "Longitude": long_number})
number_df.head()

    Latitude   Longitude
0 -14.936039 -130.192312
1  39.658409  -75.547993
2 -89.979413   40.993592
3 -35.580137  -63.310129
4 -63.583940  -15.350335

In [28]:

# dropping any duplicate for a subset of the two columns to ensure unique values
number_df = number_df.drop_duplicates(subset=['Latitude', 'Longitude'])
number_df

      Latitude   Longitude
0   -14.936039 -130.192312
1    39.658409  -75.547993
2   -89.979413   40.993592
3   -35.580137  -63.310129
4   -63.583940  -15.350335
..         ...         ...
695 -50.348882  154.119268
696 -35.622588  171.689818
697  68.945132    8.479910
698   7.769957  162.696660
699 -38.391903  139.678738

[700 rows x 2 columns]

In [26]:
# this also check is dupicate rows but there aren't any
duplicate_rows = number_df[number_df.duplicated(['Latitude', 'Longitude'])]
duplicate_rows

Empty DataFrame
Columns: [Latitude, Longitude]
Index: []

In [30]:
#Now to use citipy
# will need to loop through the lats and longs find a city for each, and then put these cities into a list

# setting enmpty city list
cities = []

# citipy finds country code as well
# do I want that???
# are there cities with the same name across the world or??
# I'll put it in for now and then see
country = []


# itterating through each row using the index
for x in number_df.index:
    lat = number_df['Latitude'][x]
    long = number_df['Longitude'][x]
    city = citipy.nearest_city(lat, long)
    city_name = city.city_name
    country_code = city.country_code
    
    cities.append(city_name)
    country.append(country_code)
    
# do I then just add them to my dataframe??

number_df["City"] = cities
number_df["Country"] = country
number_df

#>>> city = citipy.nearest_city(22.99, 120.21)
#>>> city
#<citipy.City instance at 0x1069b6518>
#>>>
#>>> city.city_name     # Tainan, my home town
#'tainan'
#>>>
#>>> city.country_code
#'tw'                  # And the country is surely Taiwan


#Randomly select at least 500 unique (non-repeat) cities based on latitude and longitude.
#The city data you generate is based on random coordinates as well as different query times; as such, 
#your outputs will not be an exact match to the provided starter notebook.

# what is a query time?
# i think it is time taken for requested info to return
# so I don't think it is something I need to worry about

      Latitude   Longitude           City Country
0   -14.936039 -130.192312        rikitea      pf
1    39.658409  -75.547993     new castle      us
2   -89.979413   40.993592    port alfred      za
3   -35.580137  -63.310129   general pico      ar
4   -63.583940  -15.350335      cape town      za
..         ...         ...            ...     ...
695 -50.348882  154.119268         hobart      au
696 -35.622588  171.689818        ahipara      nz
697  68.945132    8.479910        sorland      no
698   7.769957  162.696660     butaritari      ki
699 -38.391903  139.678738  mount gambier      au

[700 rows x 4 columns]

In [ ]:
# should I actually just check if any city names are the same??? becuase that is what I'm searching for right
# and if any are the same then same answer???

In [31]:
# Now need to do API calls in a loop, but a series of api calls becuase think can only do 10 at once or something
# in the example they created the new rows on the dataframe first so that within the loop they just add data to it.
# following example NearestRestr
# need Temperature, Humidity, Cloudiness, Wind Speed (mph)
# df in starter code also has date but I don't know what this is


number_df['Temperature'] = ""
number_df['Humidity'] = ""
number_df['Cloudiness'] = ""
number_df['Wind Speed (mph)'] = ""
number_df['Date'] = ""

number_df.head()

,Latitude,Longitude,City,Country,Temperature,Humidity,Cloudiness,Wind Speed (mph),Date
0,-14.936039,-130.192312,rikitea,pf,,,,,
1,39.658409,-75.547993,new castle,us,,,,,
2,-89.979413,40.993592,port alfred,za,,,,,
3,-35.580137,-63.310129,general pico,ar,,,,,
4,-63.583940,-15.350335,cape town,za,,,,,

In [42]:
#doing json thing to see what it is like
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "metric"

#above is base url

# Build partial query URL
query_url = f"{url}appid={weather_api_key}&units={units}&q="
city = 'melbourne'

response = requests.get(query_url + city).json()

print(json.dumps(response, indent = 4, sort_keys = True))

print (response["dt"])

{
    "base": "stations",
    "clouds": {
        "all": 1
    },
    "cod": 200,
    "coord": {
        "lat": 28.0836,
        "lon": -80.6081
    },
    "dt": 1610316358,
    "id": 4163971,
    "main": {
        "feels_like": 12.08,
        "humidity": 72,
        "pressure": 1024,
        "temp": 14.94,
        "temp_max": 16.11,
        "temp_min": 14
    },
    "name": "Melbourne",
    "sys": {
        "country": "US",
        "id": 4922,
        "sunrise": 1610280915,
        "sunset": 1610318669,
        "type": 1
    },
    "timezone": -18000,
    "visibility": 10000,
    "weather": [
        {
            "description": "clear sky",
            "icon": "01d",
            "id": 800,
            "main": "Clear"
        }
    ],
    "wind": {
        "deg": 360,
        "speed": 4.12
    }
}
1610316358

In [ ]:
# setting up loop

# how do I do this in sets
# example seems to go in sets of 50 

url = "http://api.openweathermap.org/data/2.5/weather?"
units = "metric"

#above is base url

# Build partial query URL
query_url = f"{url}appid={weather_api_key}&units={units}&q="

# use iterrows to iterate through pandas dataframe
for index, row in number_df.iterrows():

    # get city from df
    city = row['City']


    # assemble url and make API request
    print("Beginning Data Retrieval")
    print("-------------------------")

    response = requests.get(query_url + city).json()

    
    
    # adding to data frame using try and except incase no data
    
     try:
        print(f"Retrieving Results for Index {index}: {restr_type}.")
        
        # do I want temp_max?
        number_df.loc[index, 'Temperature'] = response["main"]["temp"]
        number_df.loc[index, 'Humidity'] = response["main"]["humidity"]
        number_df.loc[index, 'Cloudiness'] = response["clouds"]["all"]
        number_df.loc[index, 'Wind Speed (mph)'] = response["wind"]["speed"]
        number_df.loc[index, 'Date'] = response["dt"]
       
        
    except (KeyError, IndexError):
        print("City not found... skipping.")
        
    print("------------")
    
    
    
    

#will use something like this for looping and printing

# find the closest restaurant of each type to coordinates

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": "39.952583,-75.16522",  # philadelphia coords,
    "rankby": "distance",
    "type": "restaurant",
    "key": gkey,
}
# use iterrows to iterate through pandas dataframe
for index, row in types_df.iterrows():

    # get restaurant type from df
    restr_type = row['ethnicity']

    # add keyword to params dict
    params['keyword'] = restr_type
    # adding new parameter in the loop becuase it is changing and will be the ethnicity we are up to

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {restr_type}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest {restr_type} restaurant is {results[0]['name']}.")
        
        types_df.loc[index, 'name'] = results[0]['name']
        types_df.loc[index, 'address'] = results[0]['vicinity']
        types_df.loc[index, 'price_level'] = results[0]['price_level']
        types_df.loc[index, 'rating'] = results[0]['rating']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")